* {
  box-sizing: border-box;
}

.fieldHtml {
  margin: 100px auto 0;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: rgb(97, 147, 253);
  border: 1px solid rgb(211, 210, 210);
}
.cell__start {
  border: 5px solid rgb(196, 196, 196);
  border-style: outset;
  cursor: pointer;
}