*{
    box-sizing: border-box;
}

.fieldHtml{
    margin: 100px auto 0;
    max-width: calc(40px * 10);
    max-height: calc(40px * 10);
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 40px;
    height: 40px;
    background-color: rgb(97, 147, 253);
    border: 1px solid rgb(211, 210, 210);

    &__start {
      border: 5px solid rgb(196, 196, 196);
      border-style: outset;
      cursor: pointer;
    }
}    

