*{
    box-sizing: border-box;
}
body{
   background-image: linear-gradient(90deg, #FBAB7E 0%, #F7CE68 100%);

}
.fieldHtml{
    margin: 10px auto 0;
    max-width: calc(40px * 10);
    max-height: calc(40px * 10);
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 40px;
    height: 40px;
    background-color: rgb(97, 147, 253);
    border: 1px solid rgb(211, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    &_dark{
        background-color: rgb(255, 212, 20);
    }

    &__start {
        background-color: rgb(243, 80, 80);
      border: 5px solid rgb(196, 196, 196);
      border-style: outset;
      cursor: pointer;
    }
}    


.slidecontainer {
    width: 200px; 

}
.slider {
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.menu{
    width: 400px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;

}
.slidecontainer{
    display: flex;
    column-gap: 10px;
    
}
#demo{
    display: flex;
    align-items: center;
}


.wrapperMinesCount, .wrapperClickCount, .wrapperTimer{
    font-size: 20px;
    display: flex;
    column-gap: 10px;
    justify-self: center;
    align-items: center;
}
.bc-body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 84%);
    color:rgb(255, 255, 255)
}
.btn-color{
    background:  rgb(245, 108, 108);
    color: rgb(243, 241, 241);
}
.color-number-1 {
    color: blue;
}

.color-number-2 {
    color: green;
}

.color-number-3 {
    color: red;
}

.color-number-4 {
    color: darkblue;
}

.color-number-5 {
    color: brown;
}

.color-number-6 {
    color: turquoise;
}

.color-number-7 {
    color: black;
}

.color-number-8 {
    color: white;
}

